/* 메뉴 */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00592D; /* 초기 배경색 */
    z-index: 1000;
    transition: background-color 0.3s ease; /* 배경색 전환을 부드럽게 만듦 */
  }
  
  .menuScrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightblue; /* 스크롤시 변경할 배경색 */
    z-index: 1000;
    transition: background-color 0.3s ease; /* 배경색 전환을 부드럽게 만듦 */
  }
  
  .menuList {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menuList a {
    margin-right: 20px;
    padding: 10px;
  }